html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#panel{
	position: absolute;
	top: 15px;
	left: 20%;
	margin-left: -180px;
	z-index: 1;
	background-color: rgba(209,209,209,1.5);
	padding: 10px;
	border: 1px solid #999;	
	height: 20px;
	width: 1000px;
	margin: 10px;
	opacity: 0.8;
	border-radius: 6px;
}

#Select{
	width: 160px;
}

#Button{

}